<h1>Cadastre seu Livro</h1>
<form class="form" action="/books/insertbook" method="POST">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Nome do livro">
    </div>
    <div class="form-control">
        <label for="pagesqty">Número de Página:</label>
        <input type="number" name="pagesqty" placeholder="Total de páginas">
    </div>
    <input type="submit" value="Cadastrar">
</form>